<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DocxVersionControl</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>

<form th:action="@{/docxChanges/submit}" th:object="${SelectedChangesForm}" method="post" class="checkbox-container">

    <h3>Добавления:</h3>
    <div th:each="item : ${docxChanges.getDocInserts().values()}" class="checkbox-wrapper">
        <label>
            <input type="checkbox" th:value="${item.id}" th:field="*{selectedInserts}"/>
            <span th:text="${@changeFormatterService.extractTextFromChange(item)}"></span>
        </label>
    </div>

    <h3>Удаления:</h3>
    <div th:each="item : ${docxChanges.getDocDels().values()}" class="checkbox-wrapper">
        <label>
            <input type="checkbox" th:value="${item.id}" th:field="*{selectedDels}"/>
            <span th:text="${@changeFormatterService.extractTextFromChange(item)}"></span>
        </label>
    </div>

    <button class="button" type="submit">Сохранить</button>
</form>


</body>
</html>