<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DocxVersionControl</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div class="file-upload">
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>Загружаемый файл:</td>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Загрузить" /></td>
            </tr>
        </table>
    </form>
</div>

<h3>Загруженные файлы:</h3>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

<br>

<h3>Выберите какие файлы сравнивать:</h3>
<div>
    <ul>
        <li th:each="secondFile : ${filesToCompare}">
            <form th:action="@{/changes}">
                <button class="button" type="submit" th:name="fileToCompare" th:value="${secondFile}" th:text="${secondFile}"></button>
            </form>
        </li>
    </ul>
</div>

<br>


<div th:if="${lastChanges}">
    <h3>Скачать текущий итог:</h3>
    <form th:action="@{/files/lastChanges}">
        <button class="button" type="submit" th:text="${'Скачать'}"></button>
    </form>
</div>

</body>
</html>